<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ thread.title }}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/fire.svg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<div class="loader" id="loader">
    <span class="loader__element"></span>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
</div>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Campfire</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
                    </li>
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                    </li>
                    {% endif %}
                    <!-- Add more navbar links as needed -->
                </ul>
                {% if current_user.is_authenticated %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('account') }}">{{ current_user.id }}</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                        <span class="navbar-text">

                            <span class="badge bg-info ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User Level">
                            Level {{ current_user.level }}
                            </span>

                            <img 
                            src="{{ url_for('static', filename='images/ranks/rank_' ~ ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'][current_user.level - 1] ~ '.png') }}" 
                            alt="User Rank" 
                            class="rounded-circle" 
                            width="50" 
                            height="50" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="bottom" 
                            title="User Rank">
                        </span>
                        </li>
                    </ul>
                    </div>
                </div>
                </nav>
                {% endif %}
            </div>
        </div>
    </nav>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header text-bg-dark">
                Thread
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ thread.title }}</h5>
                <h6 class="card-text text-body-secondary"> by {{ thread.author }}</h6>
                <p class="card-text">{{ thread.description }}</p>
            </div>
            <div class="card-footer">
                <div style="display: inline-block;">
                    <form action="{{ url_for('upvote_thread', thread_title=thread.title) }}" method="post">
                        <button type="submit" class="btn btn-primary" {% if current_user.id in thread.upvoted_by %}disabled{% endif %}>Upvote ({{ thread.upvotes }})</button>
                    </form>
                </div>
                <div style="display: inline-block;">
                    <form action="{{ url_for('downvote_thread', thread_title=thread.title) }}" method="post">
                        <button type="submit" class="btn btn-danger" {% if current_user.id in thread.downvoted_by %}disabled{% endif %}>Downvote ({{ thread.downvotes }})</button>
                    </form>
                </div>
            </div>
        </div>
        <br>

        <form action="/thread/{{ thread.title }}" method="POST">
            <div class="mb-3">
                <label for="AddPostText" class="form-label display-6">Add a Post</label>
                <textarea class="form-control" id="content" name="content" rows="3" placeholder="Content (Max 2000 characters)" maxlength="2000" required></textarea>
                <div id="wordCount" class="text-end text-muted">0/2000</div>
                <br>
                <input class="btn btn-primary btn-lg me-md-2" type="submit" value="Add Post">

                <button class="btn btn-secondary btn-lg" type="button" value="Update Posts" id="update-posts" onclick="location.reload()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                </button>
            </div>
        </form>

        <ul>
            {% for post in thread.posts %}
            <div>
                <div>
                    <div class="card text-bg-light mb-3" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                        <div class="toast-header">
                            <svg class="rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                                {% if post.author == 'admin' %}
                                <rect fill="#ffc107" width="100%" height="100%" />
                                {% else %}
                                <rect fill="#007aff" width="100%" height="100%" />
                                {% endif %}
                            </svg>
                            <strong class="me-auto {% if current_user.is_authenticated and current_user.id == 'admin' %}text-dark{% endif %}">{{ post.author }}</strong>
                            <small class="text-body-secondary"><time datetime="{{post.timestamp}}">{{post.get_timestamp(post.timestamp)}}</time></small>
                            {% if (current_user.is_authenticated and current_user.id == post.author) or (current_user.is_authenticated and current_user.id == "admin") %}
                            <div class="ms-2"></div>
                            <div class="btn-group" role="group" aria-label="Edit and delete button group">
                                <button type="button" href="{{ url_for('edit_post', thread_title=thread.title, post_id=loop.index0) }}" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#EditPostModal{{ loop.index0 }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#DeletePostModal{{ loop.index0 }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                    </svg>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="toast-body">
                            {{ post.content }}
                            {% if post.edited %}
                            <div class="ms-2"></div>
                            {% if post.edited_by_admin %}
                            <span class="badge bg-warning text-dark">Edited by admin</span>
                            {% else %}
                            <span class="badge text-bg-secondary">Edited</span>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Edit Post Modal for each post -->
                <div class="modal fade" id="EditPostModal{{ loop.index0 }}" tabindex="-1" aria-labelledby="EditPostModalLabel{{ loop.index0 }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="EditPostModalLabel{{ loop.index0 }}">Edit Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- Form for editing the post -->
                            <form action="{{ url_for('edit_post', thread_title=thread.title, post_id=loop.index0) }}" method="POST">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="editedContent" class="form-label">Edit Content:</label>
                                        <textarea id="new_content{{ loop.index0 }}" name="new_content" class="form-control" rows="6" required maxlength="2000">{{ post.content }}</textarea>
                                        <div class="word-count text-end text-muted">0/2000</div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" value="Save Changes">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Delete Post Confirmation Modal for each post -->
                <div class="modal fade" id="DeletePostModal{{ loop.index0 }}" tabindex="-1" aria-labelledby="DeletePostModalLabel{{ loop.index0 }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DeletePostModalLabel{{ loop.index0 }}">Delete Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this post?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                                <a type="button" class="btn btn-danger" href="{{ url_for('delete_post', thread_title=thread.title, post_id=loop.index0) }}">Yes, Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>